@{
    ViewData["Title"] = "Dashboard";
}
<style>
    h3 {
        font-size: 70px;
        color:#000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-left: 30px;
        margin-top: 10px;

    }

    #personalContainer {
        width: 350px;
        height: 160px;
        margin-left: 35px;
        margin-top: -40px;
        flex-shrink: 0;
        border-radius: 34px;
        background: #DADADA;
        box-shadow: 0px 16px 31px 0px rgba(0, 0, 0, 0.01);
    }

    a {
        text-decoration: none;
    }

    #personal {
        color: black;
        font-size: 25px;
        margin-left: 20px;
        padding:10px;
    }

    #personalIcon {
        padding-left: 270px;
        padding-top: -30px;
        
    }

    #workContainer {
        width: 350px;
        height: 160px;
        margin-top: -200px;
        margin-left: 415px;
        border-radius: 34px;
        background: #F8E4CD;
        box-shadow: 0px 16px 31px 0px rgba(0, 0, 0, 0.1);
    }

    #work {
        color: black;
        font-size: 25px;
        margin-left: 20px;
        padding: 10px;
    }

    #workIcon {
        padding-left: 270px;
        padding-top: -30px;
    }

    #schoolContainer {
        width: 350px;
        height: 160px;
        margin-top: -200px;
        margin-left: 795px;
        border-radius: 34px;
        background: #D2F1F5;
        box-shadow: 0px 16px 31px 0px rgba(0, 0, 0, 0.01);
    }

    #school {
        color: black;
        font-size: 25px;
        margin-left: 20px;
        padding: 10px;
    }

    #schoolIcon {
        padding-left: 270px;
        margin-top: -10px;
    }
    
    #folders {
        margin-top: -70px;
    }

    #todosContainer {
        width: 1108px;
        height: 450px;
        margin-left: 35px;
        margin-top:30px;
        border-radius: 30px;
        border: 1px solid #FFF;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    #todosIcon {
        padding-left: 20px;
        padding-top: 20px;
    }

    h4 {
        margin-left: 100px;
        margin-top: -45px;
        font-size: 30px;
    }

</style>
<h3>Dashboard</h3>
<div id="folders">
    <a href="#">
        <div id="personalContainer">
            <h5 id="personal">Personal</h5>
            <svg id="personalIcon" xmlns="http://www.w3.org/2000/svg" width="60" height="55" viewBox="0 0 67 51" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M49.8352 43.0329L29.3948 26.534V2.97659C29.3948 1.33267 31.0458 0 33.0824 0C35.1191 0 36.7701 1.33267 36.7701 2.97659V24.0681L55.0503 38.8234L65.3322 30.5241C65.6788 30.2443 66.2715 30.4425 66.2715 30.8381V50.1579C66.2715 50.4032 66.0252 50.6021 65.7213 50.6021H41.7862C41.296 50.6021 41.0505 50.1237 41.3971 49.8439L49.8352 43.0329Z" fill="#9A9A9A" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M25.1365 49.8439C25.4831 50.1237 25.2376 50.6021 24.7474 50.6021H0.550228C0.246346 50.6021 0 50.4032 0 50.1579V30.6266C0 30.2309 0.592673 30.0328 0.939297 30.3126L10.3135 37.8792L21.4812 30.2517L26.2452 34.7963L15.5467 42.1033L25.1365 49.8439Z" fill="#9A9A9A" />
            </svg>
        </div>
    </a>

    <a href="#">
        <div id="workContainer">
            <h5 id="work">Work</h5>
            <svg id="workIcon" xmlns="http://www.w3.org/2000/svg" width="60" height="55" viewBox="0 0 65 59" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M29.3633 17.907C29.3867 17.6494 29.6026 17.4521 29.8613 17.4521H32.0553C32.3088 17.4521 32.5222 17.6418 32.5518 17.8936L34.0474 30.588L44.599 35.7057C44.7713 35.7893 44.8808 35.9641 44.8808 36.1556V37.8407C44.8808 38.1623 44.5814 38.4003 44.268 38.3278L28.2815 34.6271C28.0382 34.5708 27.8737 34.3436 27.8963 34.0949L29.3633 17.907Z" fill="#FABB18" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8082 0.169057C14.5215 -0.120942 13.9791 -0.0210314 13.8775 0.340499L9.60421 15.5469C9.51939 15.8487 9.80772 16.1413 10.1727 16.1237L28.6026 15.2372C29.0406 15.2162 29.2519 14.7795 28.9647 14.489L23.9841 9.45089C26.6882 8.66657 29.5557 8.25691 32.5 8.25691C47.0303 8.25691 58.8095 18.2549 58.8095 30.588C58.8095 42.9212 47.0303 52.9192 32.5 52.9192C17.9697 52.9192 6.19048 42.9212 6.19048 30.588C6.19048 28.5176 6.5208 26.4898 7.16489 24.5408L1.20446 23.1217C0.419697 25.4964 0 28.0006 0 30.588C0 45.8231 14.5507 58.1735 32.5 58.1735C50.4493 58.1735 65 45.8231 65 30.588C65 15.353 50.4493 3.00253 32.5 3.00253C27.9851 3.00253 23.6852 3.78395 19.7779 5.19614L14.8082 0.169057Z" fill="#FABB18" />
            </svg>
        </div>
    </a>
    <a href="#">
        <div id="schoolContainer">
            <h5 id="school">School</h5>
            <svg id="schoolIcon" xmlns="http://www.w3.org/2000/svg" width="60" height="55" viewBox="0 0 70 64" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 59.5C3 60.3284 3.67157 61 4.5 61H65.5C66.3284 61 67 60.3284 67 59.5V14.7353C67 13.9069 66.3284 13.2353 65.5 13.2353H34.2595L19.3791 3.25428C19.132 3.08851 18.8411 3 18.5435 3H4.5C3.67157 3 3 3.67157 3 4.5V59.5Z" stroke="#3797A4" stroke-width="6" />
            </svg>
        </div>
    </a>
</div>
<div id="todosContainer">
    <svg id="todosIcon" xmlns="http://www.w3.org/2000/svg" width="60" height="40" viewBox="0 0 98 77" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 74.5C1 75.3284 1.67157 76 2.5 76H95.5C96.3284 76 97 75.3284 97 74.5V15.7353C97 14.9069 96.3284 14.2353 95.5 14.2353H39.4L25.4304 1.39562C25.1536 1.14119 24.7914 1 24.4154 1H2.5C1.67157 1 1 1.67157 1 2.5V74.5Z" stroke="#FABB18" stroke-width="2" />
    </svg>
    <h4>To-Dos</h4>

</div>