@{
    ViewData["Title"] = "To-do";
    Layout = "_Layout";
}
<style>
    h3 {
        font-size: 70px;
        color: #000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-left: 30px;
        margin-top: 10px;
    }

    #todosFolder {
        margin-top: -50px;
        width: 160vh;
    }
    
    table, th, td {
        padding: 1rem;
        border-collapse: collapse;
        text-align: center;
    }

    thead th {
        position: sticky;
        top: 0;
        left: 0;
        font-size: 28px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: #9A9A9A;
    }

    tbody tr {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: right;
    }

    main.table {
        width: 100%;
        height: 100%;
        background-color: #fff5;

        overflow: hidden;
    }

    table {
        width: 100%;
    }

    .category {
        padding: .4rem 0;
        border-radius: 2rem;
        text-align: center;
    }

    .category.school {
            background-color: #D2F1F5;
    }

    .category.organization {
            background-color: #FFF8E8;
        }

    .category.personal {
            background-color: #DADADA;
        }

    .Add_Task {
        position: absolute;
        top: 70px;
        right: 0;
        height: 66px;
        width: 166px;
        border-radius: 10px;
        background: #8ACCA4;
        font-size: 27px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFBFB;
        border: none;
        margin-right:20px;
    }

</style>

<h3>Tasks</h3>

<div id="todosFolder">

    <button class="Add_Task">ADD TASK+</button>

    <main class="table">

            <table>
                <thead>
                    <tr>
                        <th>""</th>
                        <th>Status</th>
                        <th>Tasks</th>
                        <th>Category</th>
                        <th>Due Date</th>
                        <th>Priority</th>
                        <th>Notes</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>edit&delete</td>
                        <td>checkbox</td>
                        <td>Coding</td>
                        <td><p class="category school">School</p></td>
                        <th>November 14, 2023</th>
                        <td>High</td>
                        <td>Sermonan si Hugo</td>
                    </tr>

                    <tr>
                        <td>edit&delete</td>
                        <td>checkbox</td>
                        <td>Coding</td>
                        <td><p class="category organization">Organization</p></td>
                        <th>November 14, 2023</th>
                        <td>Medium</td>
                        <td>Sermonan si Hugo</td>
                    </tr>

                    <tr>
                        <td>edit&delete</td>
                        <td>checkbox</td>
                        <td>Coding</td>
                        <td><p class="category personal">Personal</p></td>
                        <th>November 14, 2023</th>
                        <td>Low</td>
                        <td>Sermonan si Hugo</td>
                    </tr>

                </tbody>
            </table>
        
    </main>
   
</div>